:root {
    box-sizing: border-box;
    --main-dark: #000000;
    --main-gold: #BDAE82;
    --white: #ffffff;
    --font-inter: 'Inter', sans-serif;
    --font-merriweather: 'Merriweather', serif;
    scroll-behavior: smooth;
}

*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-dark);
}

/*-------buttons-----------*/
.button {
    font-family: var(--font-inter);
    height: 55px;
    width: 220px;
    font-size: 20px;
    margin-top: 25px;
    border-style: solid;
    border-width: 2px;
    margin-right: 5px;
    cursor: pointer;
}

.button_white {
    background-color: var(--main-gold);
    color: var(--main-dark);
    border-color: var(--main-gold);
}

.button_dark {
    background-color: var(--main-dark);
    color: var(--main-gold);
    border-color: var(--main-gold);
}

.button_white:hover {
    transition: 0.3s;
    color: var(--white);
    border-color: var(--main-gold);
}

.button_dark:hover {
    transition: 0.3s;
    color: var(--white);
    border-color: var(--main-gold);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    /*padding: 0 20px;*/
}

h1 {
    font-size: 60px;
    line-height: 120px;
    color: var(--white);
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}

h2 {
    box-sizing: border-box;
    font-size: 40px;
    line-height: 80px;
    font-family: var(--font-merriweather);
    color: var(--main-gold);
    background-color: var(--main-dark);
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    font-size: 28px;
    line-height: 56px;
    color: var(--white);
    font-family: var(--font-merriweather);
    padding: 43px 0 20px;

}

h4 {
    font-size: 20px;
    line-height: 40px;
    color: var(--white);
    font-family: var(--font-inter);
    margin-bottom: 10px;
}

.section {
    padding: 100px 20px 0;
}

.section-title {
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 0 auto;
}

/*---------------------------header--------------------------------*/
.header-container {
    background: url('../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
}

.header__logo {
    margin-right: auto;
    align-items: center;
    height: 50px;
    width: 50px;
}

.nav {
    /*display: inline-block;*/
    align-items: center;
    /*margin-left: auto;*/

    height: 90px;
    padding: 20px;
}

.nav-list {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-item {
    height: 50px;
}

.nav-link {
    font-size: 20px;
    padding: 0 15px;
    line-height: 50px;
    color: var(--white);
    text-decoration: none;
    font-family: var(--font-inter);
}

.header__lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 0 5px;
    height: 90px;
    width: 70px;
    font-size: 20px;
    color: var(--white);
    font-family: var(--font-inter);
}

.en {
    color: var(--main-gold);
}

/*---------------------------hamburger-------------------------------------*/

.hamburger {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 6px 3px;
    width: 56px;
    height: 50px;
    cursor: pointer;
    user-select: none;
    z-index: 2;
}

.line {
    width: 80%;
    height: 3px;
    background: var(--white);
    margin: 3px 0;
    z-index: 15;
    transition: all 0.3s ease-in-out;
}

.hamburger.open .line1 {
    transform: rotate(-45deg) translate(-7px, 10px);
}

.hamburger.open .line2 {
    opacity: 0;
}

.hamburger.open .line3 {
    transform: rotate(45deg) translate(-7px, -10px);
}

.menu {
    display: none;
}

/*---------------------------main-------------------------------------*/
.video-container {
    padding: 5% 0 2em;
    text-align: center;
}

/*---------------player-------------------------------------------*/
.player-wrapper {
    max-width: 1400px;
    padding-top: 2em;
}

.player {
    position: relative;
    border: solid 2px;
    border-color: var(--main-gold);
}

.player__video {
    width: 100%;
    position: relative;
    z-index: 10;
    margin-bottom: -0.2em;
}

.player__controls {
    position: absolute;
    top: 70%;
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2em 0.5em 0.3em;
}

.progress {
    flex: 10;
    position: relative;
    display: flex;
    height: 12px;
    border: solid 2px var(--main-gold);
    background-color: var(--white);
}

.progress__line {
    width: 50%;
    background: var(--main-gold);
    flex: 0;
    flex-basis: 0%;
}

.video-time {
    flex: auto;
    color: var(--white);
    font-family: var(--font-inter);
}

/*.slider {*/
/*    position: absolute;*/
/*    left: 0%;*/
/*    top: -10px;*/
/*    display: inline-block;*/
/*    text-align: right;*/
/*    border: 1px solid #000000;*/
/*    height: 30px;*/
/*    width: 8px;*/
/*    border-radius: 2px;*/
/*    background: var(--main-light);*/
/*    cursor: pointer;*/
/*    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;*/
/*}*/
.player__slider {
    flex: 1.5;
    height: 12px;
    width: calc(0.5em + 10px);
    background: linear-gradient(to right, var(--main-gold) 0%, var(--main-gold) 40%, #fff 40%, #fff 100%);
    border: solid 2px var(--main-gold);
    -webkit-appearance: none;
}

.player__slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 30px;
    width: 8px;
    border-radius: 2px;
    background: var(--white);
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.change_color:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
    transition: all 0.2s;
}

/*---------------buttons--------------------------*/
.main-button {
    z-index: 99;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -65px;
    margin-top: -65px;
    width: 130px;
    height: 130px;
    background-image: url("../assets/svg/play-btn.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    cursor: pointer;
}

.player__button {
    padding: 0.3em;
    flex: 1;
    border: 0;
    background-color: var(--main-dark);
    background-position: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
}

.toggle-video {
    background-image: url("../assets/svg/play.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.toggle-volume {
    background-image: url("../assets/svg/volume.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}

.player-fullscreen {
    background-image: url("../assets/svg/fullscreen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
}


/*-----section-hero-----*/
.hero {
    margin: -90px auto 0;
    max-width: 1440px;
    max-height: 910px;
    background: url('../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.section-hero {
    padding: 211px 0 330px 80px;
}

.hero-context {
    max-width: 480px;
    /*height: 330px;*/
    display: inline-block;
}

.hero-context__text {
    margin: 0;
    font-family: var(--font-inter);
    font-size: 20px;
    line-height: 40px;
    color: var(--white);
}

/*-----section-skills-----*/
.skills {
    /*height: 482px;*/
    /*padding-top: 100px;*/
}

.layout-4-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 280px;
    /*height: 240px;*/
    padding-top: 60px;
    padding-bottom: 10px;
}

.skill__title {
    padding-top: 45px;
}

.skill__text {
    color: var(--white);
    font-size: 18px;
    font-family: var(--font-inter);
    line-height: 36px;
    padding-top: 10px;
}

/*-----section-portfolio-----*/
.portfolio {
    /*height: 1500px;*/
}


.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 -20px;
}

.portfolio__buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 35px 0 60px;
}

.portfolio__img {
    width: 450px;
    height: 585px;
    padding-bottom: 25px;
}

/*-----section-video-----*/

.video {
    /*height: 945px;*/
}

.video-section {
    padding-top: 80px;
}

.video-item {
    padding-top: 60px;
}

.video-img {
    /*background-image: url("../assets/img/video-player.jpg");*/
    background-repeat: no-repeat;
    background-position: center 0;
    max-height: 705px;
}

.video-img__play {
    padding: 288px 635px;
}

/*-----section-price-----*/

.price {
    /*height: 845px;*/
    /*margin-bottom: 100px;*/
}

.order-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 60px;
    width: 450px;
    height: 505px;
    border-color: var(--main-gold);
    border-style: solid;
    border-width: 2px;
}

.order-block__cost {
    font-family: 'Merriweather', serif;
    font-size: 24px;
    color: var(--main-gold);
}

.order-block__description {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    line-height: 36px;
    color: var(--white);
    padding-top: 15px;
}

.order-block__button {
    padding-bottom: 43px;
    padding-left: 5px;
}

/*---------------------contacts-----*/
.section-contacts {
    padding: 55px 25px 200px;
    text-align: right;
    height: 700px;
    background-image: url("../assets/img/contacts.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
}

.contacts {
    padding-top: 100px;

}

.contact {
    float: right;
    width: 450px;
    padding-left: 5px;
    display: inline-block;
    /*margin-left: auto;*/
}

.contact__title {
    padding-left: 0;
    background-color: initial;

}

.contact__form {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

::placeholder {
    font-family: inherit;
    color: #bdae82;
    font-size: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #bdae82;
    transition: background-color 0s ease-in-out 9000s;
}

.cont-input {
    background-color: initial;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 18px;
    width: 450px;
    height: 50px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-gold);
}

.cont-textarea {
    background-color: initial;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 18px;
    width: 450px;
    height: 100px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--main-gold);
}

.contact-us__button {
    padding-top: 5px;
}

/*---------------------------footer-------------------------------------*/
.footer {
    /*height: 150px;*/
}

.footer-container {
    padding: 0 20px;
    /*height: 150px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
}

.footer-item {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 50px;
    padding: 50px 0;
    text-align: center;
}

.footer-item > a {
    text-decoration: none;
    color: var(--white);
}

.created {
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    color: var(--white);
    display: inline-block;
}

.git-link {
    padding: 0 25px;
    font-size: 19px;
    font-family: 'Inter', sans-serif;
    color: var(--white);
    display: inline-block;
    cursor: pointer;
}

.contact-link {
    width: 188px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-rs {
    width: 211px;
}

@media (max-width: 768px) {
    .nav {
        display: none;
    }
    .hamburger {
        display: flex;
    }
    .menu-open {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        height: 730px;
        width: 480px;
        background-color: var(--main-dark);
    }
    /*.menu-open-nav {*/
    /*    position: relative;*/
    /*    align-items: center;*/
    /*    background-color: var(--main-dark);*/
    /*    height: 730px;*/
    /*    width: 480px;*/
    /*}*/

    .menu-open-nav__nav-list {

        position: absolute;
        top: 134px;
        left: 157px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
    }

    .nav-item {
        height: 90px;
    }
    .nav-link {
        display: none;
    }
    .menu-open .nav-link {
        display: block;
        font-size: 20px;
        padding: 0 15px;
        line-height: 50px;
        color: var(--white);
        text-decoration: none;
        font-family: var(--font-inter);
    }

}



