:root {
    box-sizing: border-box;
    --main-dark: #000000;
    --main-gold: #BDAE82;
    --white: #ffffff;
    --font-inter: 'Inter', sans-serif;
    --font-merriweather: 'Merriweather', serif;
    scroll-behavior: smooth;
}
*,
::before,
::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--main-dark);
}
/*-------buttons-----------*/
.button {
    font-family: var(--font-inter);
    height: 55px;
    width: 220px;
    font-size: 20px;
    margin-top: 25px;
    border-style: solid;
    border-width: 2px;
    margin-right: 5px;
}
.button-white {
    background-color: var(--main-gold);
    color: var(--main-dark);
    border-color: var(--main-gold);
}
.button-dark {
    background-color: var(--main-dark);
    color: var(--main-gold);
    border-color: var(--main-gold);
}
.button-white:hover {
    transition: 0.3s;
    color: var(--white);
    border-color: var(--main-gold);
}
.button-dark:hover {
    transition: 0.3s;
    color: var(--white);
    border-color: var(--main-gold);
}

.container {
    width: 1440px;
    margin: 0 auto;
    /*padding: 0 20px;*/
}

h1 {
    font-size: 60px;
    line-height: 120px;
    color: var(--white);
    font-family: 'Merriweather', serif;
    margin-bottom: 10px;
}
h2 {
    box-sizing: border-box;
    font-size: 40px;
    line-height: 80px;
    font-family: var(--font-merriweather);
    color: var(--main-gold);
    background-color: var(--main-dark);
    padding-left: 20px;
    padding-right: 20px;
}
h4 {
    font-size: 20px;
    line-height: 40px;
    color: var(--white);
    font-family: var(--font-inter);
    margin-bottom: 10px;
}

.section {
    padding: 100px 20px 0;
}
.section-title {
    width: 50%;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    display: flex;
    justify-content: center;
    height: 80px;
    margin: 0 auto;
}

/*---------------------------header--------------------------------*/
.header-container {
    background: url('../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
}

.header__logo {
    /*display: inline-block;*/
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 25px 20px 20px 20px;
}
.nav {
    /*display: inline-block;*/
    align-items: center;
    margin-left: auto;
    height: 90px;
    padding: 20px;
}
.nav-list {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-item {
    height: 50px;
}
.nav-link {
    font-size: 20px;
    padding: 0 15px;
    line-height: 50px;
    color: var(--white);
    text-decoration: none;
    font-family: var(--font-inter);
}
.header__lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 90px;
    width: 70px;
    font-size: 20px;
    color: var(--white);
    font-family: var(--font-inter);
}
.en {
    color: var(--main-gold);
}


/*---------------------------main-------------------------------------*/

/*-----section-hero-----*/
.hero {
    margin: -90px auto 0;
    width: 1440px;
    height: 910px;
    background: url('../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}
.section-hero {
    padding:211px 870px 330px 80px ;
}
.hero-context {
    display: inline-block;
}
.hero-context__text {
    margin: 0;
    font-family: var(--font-inter);
    font-size: 20px;
    line-height: 40px;
    color: var(--white);
}
/*-----section-skills-----*/
.skills {
    height: 482px;
    /*padding-top: 100px;*/
}
.layout-4-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
}
.skill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 280px;
    height: 240px;
    padding-top: 60px;
}
.skill__title {
    padding-top: 45px;
}
.skill__text {
    color: var(--white);
    font-size: 18px;
    font-family: var(--font-inter);
    line-height: 36px;
    padding-top: 10px;
}

/*-----section-portfolio-----*/
.portfolio {
    height: 1500px;
}
.portfoli__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 35px;
}

.layout-3-column {
    display: flex;
    flex-wrap: wrap;
}

/*-----section-video-----*/

.video {
    height: 945px;
}

/*-----section-price-----*/

.price {
    height: 845px;
}

/*-----contacts-----*/

.contacts {
    height: 700px;
}

/*---------------------------footer-------------------------------------*/
.footer {
    height: 150px;
}

.footer-item {
    display: inline-block;
}

.contact-link__icon {
    display: inline-block;
}

